
/* shared styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.contaniner_width{
    width: 85%;
    max-width: 1161px;
    margin: 0 auto;
}

.flex_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid violet; */
}
.flex_column{
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}


.list_style_none{
    list-style: none;
}
.logo_size{
    max-width: 139px;
    max-height: 60px;
}

.btn_green{
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color:rgba(70, 145, 101, 1);
    color:rgba(255, 255, 255, 1);
    font-weight: 600;
    cursor: pointer;
}
.btn_bg{
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 25, 49, 0.1);
}
.btn_white{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(48, 184, 104, 1);
    border-radius: 100px;

}
.heading_weight{
    font-weight: 700;
}
.heading_size_h1{
    font-size: 72px;
    line-height: 84px;
}
.heading_size_h2{
    font-size: 48px;
    line-height: 58px;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
}

.paragraf_p{
    color: rgba(98, 115, 130, 1);
    line-height: 24px;
}


.center{
    text-align: center;
    
}

.color_primary , h4{
    color: rgba(48, 184, 104, 1);
}
.color_white {
    color: rgba(255, 255, 255, 1);
}

.margin_top{
    margin-top: 120px;
}




/* different styles */

header nav{
    padding: 16px;
    background-color: rgba(255, 255, 255, 1);
}
header nav a{
    text-decoration: none;
    margin-right: 32px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1, 0.9);
}

header #banner{
    background-image:linear-gradient(rgba(0, 25, 49, 0.1)), url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    max-width:100%;
    height: 600px;
    /* border: 1px solid rebeccapurple; */
}
header #banner p{
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}


#notes_container{
    gap: 24px;
}
#notes .notes_card{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
    min-height: 300px;
    
}

#notes .notes_card img{
    width: 65px;
    height: 65px;
    padding: 12px;
    background-color: rgba(249, 85, 85, 1);
    border: 1px solid rgba(48, 184, 104, 1);
    border-radius: 50%;
}
#notes .notes_card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

#brain_container{
    gap: 60px;
}

#brain_container .check{
    display: flex;
}
#brain_container .flex_item{
    justify-content:left;
}


#think{
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    padding: 80px;
}